# Environments
.env.example
.venv
env/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# Data
data/raw/*
data/processed/*
data/external/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep
*.csv
*.xlsx
*.db
*.sqlite3

# Caches and tests
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.mypy_cache/
.ruff_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and Tools
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
